.App {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-body {
  flex: 1 1 auto;
  display: flex;
}

.tab-area {
  flex: 1 0 auto;
  overflow: auto;
  height: 100%;
  background-color: green;
}
